template(name='lobby')
  .lobby-title(class='{{$ "lobbyTitleClass"}}')
    p Press <span class="border">1</span> for single-player
    p.not-ready Press <span class="border">2</span> for multi-player
    p Press <span class="border">s</span> to view the high scores!
